@model SimplexDataViewModel 
@{
    int j;
}
<div >

    <form method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results">
        <div class="form-group">
            <table class="table-borderless table-responsive-md">
                <thead>
                    <tr>
                        @for (var i = 1; i <= @ViewBag.Sel1; i++)
                        {

                            <th scope="col">X <sub>@i</sub></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < @ViewBag.Sel2; i++)
                    {

                        <tr>
                            @for (j = 0; j < @ViewBag.Sel1; j++)
                            {

                                <td> <input type="text" style="width:75px" class="form-control"  value="0" asp-for="OriginalLimits[i][j]"></td>
                            }
                            <td>
                                <select id="s" asp-for="OriginalLimits[i][j]">
                                    <option value="-1">≥</option>
                                    <option value="0">=</option>
                                    <option value="1">≤</option>
                                </select>
                            </td>
                            <td> <input type="text" style="width:75px" class="form-control"  value="0" asp-for="OriginalLimits[i][j+1]"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <p class="">Функция F(x)</p>
            <table class="table-borderless table-responsive-md">
                <thead>
                    <tr>
                        @for (var i = 1; i <= @ViewBag.Sel1; i++)
                        {

                            <th scope="col">X<sub>@i</sub></th>

                        }
                        <th scope="col">C</th>
                        <th scope="col">Extr</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @for (j = 0; j <= @ViewBag.Sel1; j++)
                        {
                            <td> <input type="text" style="width:75px" class="form-control"  value="0" asp-for="OriginalFunc[j]"></td>
                        }

                        <td>—></td>
                        <td>
                            <select id="mode" asp-for="Type">
                                <option value="1">min</option>
                                <option value="-1">max</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" asp-for="NumberRepresent">
            <label class="custom-control-label" for="customSwitch1">Использовать дроби</label>

        </div> 
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="select2">Метод решения</label>
                <select class="form-control" id="select2" asp-for="Mode">
                    <option value="1">Симплекс-метод</option>
                    <option value="2">Метод искусственного базиса</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Далее</button>
        <input type="hidden" asp-for="N" value="@ViewBag.Sel2" />
        <input type="hidden" asp-for="M" value="@ViewBag.Sel1" />
    </form>
    <div id="results">

    </div>
</div>
